<mat-card>
  <mat-card-header>
    <div style="padding: 16px;">
      <h1>Réception de courrier</h1>
    </div>
  </mat-card-header>
  <div style="padding: 16px;">
    <button mat-flat-button color="primary" (click)="openReceptionForm()">
      Nouvelle réception
    </button>
  </div>
  <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="dataSource">
    <!-- DateReception Column -->
    <ng-container matColumnDef="dateReception">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date de récéption</th>
      <td mat-cell *matCellDef="let row">{{row.dateReception}}</td>
    </ng-container>

    <!-- Expediteur Column -->
    <ng-container matColumnDef="expediteur">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Expéditeur</th>
      <td mat-cell *matCellDef="let row">{{row.expediteur}}</td>
    </ng-container>

    <!-- Reference Column -->
    <ng-container matColumnDef="reference">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Référence</th>
      <td mat-cell *matCellDef="let row">{{row.reference}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</mat-card>
