<h2 mat-dialog-title>{{ title }}</h2>
<form [formGroup]="receptionForm" novalidate (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <app-reception-form [form]="receptionForm" [mode]="mode"/>
    <h3>Liste des pieces</h3>
    <app-reception-pieces-form [form]="piecesForm" [mode]="mode"/>
  </mat-dialog-content>
  @if (mode !== "view") {
    <mat-dialog-actions align="end">
      <button (click)="onCancel()" mat-button type="button">Annuler</button>
      <button [disabled]="!(receptionForm.valid && piecesForm.valid)" color="primary" mat-raised-button type="submit">
        Enregistrer
      </button>
    </mat-dialog-actions>
  }
</form>
