@use '@angular/material' as mat;

@use 'theme/app_theme-colors' as courier;

html {
  height: 100%;
  @include mat.theme((
    color: (
      theme-type: light,
      primary: courier.$primary-palette,
      tertiary: courier.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}
