<section class="px-4 py-4 max-w-6xl h-full box-border envoi-page">
  <header class="flex items-center justify-between mb-4">
    <div>
      <h1 class="text-2xl font-semibold">Courriers envoyés</h1>
      <p class="text-sm font-light">Liste des courriers envoyés</p>
    </div>
  </header>
  <table [dataSource]="dataSource" [trackBy]="trackById" aria-label="Elements" class="full-width-table" mat-table
         matSort>
    <!-- DateEnvoi Column -->
    <ng-container matColumnDef="dateEnvoi">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Envoyé le</th>
      <td *matCellDef="let row" mat-cell>{{ row.dateEnvoi | date:'mediumDate' }}</td>
    </ng-container>

    <!-- Reference Column -->
    <ng-container matColumnDef="reference">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Référence</th>
      <td *matCellDef="let row" mat-cell>{{ row.reference }}</td>
    </ng-container>

    <!-- Destinataire Column -->
    <ng-container matColumnDef="destinataire">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Destinataire</th>
      <td *matCellDef="let row" mat-cell>{{ row.destinataire }}</td>
    </ng-container>

    <!-- Actions column -->
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>Actions</th>
      <td *matCellDef="let row" mat-cell>
        <div class="space-x-4">
          <button (click)="openDetails(row)" mat-icon-button>
            <mat-icon>description</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" class="table-row" mat-row></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</section>
